*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}


.incoming {
    background: #1A6ED8; 
    border-radius: 12px;
}


.outgoing {
    background: #D8DADF;
    color: #000;
    margin-left: auto;
    border-radius: 12px;
}














